@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  font-family: "Open Sans";
  position: absolute;

}
.arrows-img {
  width: 150px;
  position:relative;
}
.title{
  justify-content: space-around;
  flex-direction: column;
  position:relative;

}
.btn {
  position: relative;
  display: block;
  margin: auto;
  padding: 20px;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

  background-color: black;
  color: white;

  transition: background-color .3s;
}
